# MONGODB_URI=mongodb://shansaybhatiaa_db_user:<db_password>@ac-1mdpxat-shard-00-00.rqgtfud.mongodb.net:27017,ac-1mdpxat-shard-00-01.rqgtfud.mongodb.net:27017,ac-1mdpxat-shard-00-02.rqgtfud.mongodb.net:27017/?ssl=true&replicaSet=atlas-cbilvn-shard-0&authSource=admin&appName=Cluster0
